.content{
	font-family: "楷体";
	position: relative;
	width: 1600px;
	height: 300px;
	/* background-color: #B8B6B6; */
}
.AnimatedShop{
	width: 1600px;
	height: 300px;
	font-size: 30px;
	line-height: 300px;
	
}
@keyframes shop{
	0%{left: -300px;}
	100%{left: 0px; top: 10px;}
}
.Shopcart:hover{
	transform: scale(1.05);
	transition: all 0.6s;
	
}
.Shopcart{
	float: left;
	position: relative;
	animation-name: shop;
	animation-duration: 2s;
	animation: move 2s linear 0 1; left: 0px;top: 10px;
	width: 385px;
	height: 300px;
	background-image: url(../images/icon/cart_empty.png);
	background-repeat: repeat;
	background-position: center;
}
.Shopcart:hover{
	transition: all 1.5s;
	background-image: url(../images/icon/goshop.png);
	background-size: 100%;
	background-color: #39f8d6;
}
.Shopcart a,.new a{
	display: block;
	width: 385px;
	height: 300px;
}
.wechat{
	margin-left: 20px;
	width: 385px;
	height: 300px;
	background-color: #06c663;
	display: inline-block;
	float: left;
	position: relative;
	top: 10px;
	background-image: url(../images/icon/微信.png);
}
.wechat:hover{
	background-image: url(../images/f0f8e228caea4f2f4bef1a7126a781a.png);
	transition: all 1.5s;
}
.new{
	width: 385px;
	height: 300px;
	position: relative;
	top: 10px;
	float: left;
	margin-left: 20px;
	background-image: url(../images/icon/新闻.png);
}
.new-right{
	width: 385px;
	height: 300px;
	float: right;
	border-left: blue 2px solid;
	margin-top: 10px;
}
.new-right a{
	display: block;
	height: 48px;
	width: 383px;
	background-color: #B8B6B6;
	line-height: 48px;
}
.new-right p{
	/* position: relative;
	top: 10px; */
	margin-top: 15px;
	/* display: block; */
}
.new-right-1 p{
	margin-top: 0px !important;
}
.new-right-1,.new-right-2,.new-right-3,.new-right-4,.new-right-5{
    position: relative;
    animation-name: example3;
    animation-duration: 2s;
    animation: move 3s linear 0 1;top: 0px; right: 0px;
}
@keyframes example3{
    from {top: 0px; right: -200px;}
    to {top: 0px; right: 0px;}
}
.new-right-1 {animation-timing-function: linear;}
.new-right-2 {animation-timing-function: ease;}
.new-right-3 {animation-timing-function: ease-in;}
.new-right-4 {animation-timing-function: ease;}
.new-right-5 {animation-timing-function: ease-out;}
.tab_list{
	width: 1600px;
	height: 80px;
	margin-top: 20px;
}
.tab_list li {
	display: block;
    float: left;
	width: 385px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
	margin-left: 20px !important;
	background-color: #fff;
	font-size: 40px;
	font-family: 楷体;
}
.current,.tab_con-1{
	margin-left: 0 !important;
}
.tab_con-2{
	float: left;
	width: 385px;
	height: 300px;
	margin-left: 20px;
	margin-top: 20px ;
	background-color: #39F8D6;
}
.tab_con-2-1{
	margin-left: 0 !important;
}
.tab_list .current {
    background-color: #39F8D6;
    color: #fff;
}