*{
	list-style: none;
	padding:0 ;
	margin: 0;
	text-align: center;	
	text-decoration: none;
}
a{
	color: #000000;
}
a:hover{
	text-decoration: none;
}
.logo h1{
	font-size: 0px;
}
.bigbox{
	width: 90%;
	margin: 0 auto; 
}
.logo{
	width: 20%;
	height: 60px;
}
.logo img{
	/* position: absolute;
	left: 10px; */
	/* padding-top: 10px; */
	width: 100%;
	height: 60px;
	/* background-color: #B8B6B6 */
}
.carousel-inner img {
	padding-top: 20px;
      width: 100%;
      height: 300px;
  }
.nav{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0px;
	
	z-index:9999;
}
.navright{
	position: absolute;
	right: 10%;
	top: 0;
	width: 65%;
	float: right;
}
.nav-3{
	width: 100%;
	height: 40px;
}
.nav-1{
	float: left;
	width: 20%;
	height: 60px;
	line-height: 60px;
}
.nav-1 a:hover{
	text-decoration: none;
	background-color: #B8B6B6
}
.nav-1 a{
	display: block;
	color: black;
}
.nav-2{
	width: 100%;
	display: none;
}
.carousel-inner{
	margin-top: 40px;
}
.nav-2 li {
	height: 40px;
	line-height: 40px;
	background-color: #b8b6b6;
}